<h1>Lista filmów</h1>

<div class="menu">
  <%= link_to 'Dodaj film', new_filmy_path %>
</div>

<div class="content">
<div class="flexslider">
  <ul class="slides">
        <% @filmies.each do |filmy| %>
    <li class="slide">
      <a href="/filmies/<%= filmy.id %>">
         <% if filmy.obrazki? %>
            <%= image_tag filmy.obrazki_url(:thumb) %>
        <% else %>
          <img alt="Thumb images" src="noimg.png" draggable="false">
        <% end %>
          <div class="info">
          <%= filmy.nazwa %>
        </br>
      </br>
          <%= filmy.gatunek %>
          </br>
          </br>
          <%= filmy.rok %>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
</div>
<br>
<div class="footer">
<p> Wykonanie Jacek Sikora </p>
</div>
