<p id="notice"><%= notice %></p>

<div  class="content-edit">
  <%= image_tag @filmy.obrazki_url() if @filmy.obrazki? %>

 
    <strong>Nazwa</strong>
    <%= @filmy.nazwa %>
    </br>
    </br>
    <strong>Gatunek</strong>
    <%= @filmy.gatunek %>
    </br>
    </br>
    <strong>Rok</strong>
    <%= @filmy.rok %>

  <div class="reference">
    <%= link_to 'Usuń', @filmy, method: :delete, data: { confirm: 'Jestes pewny?' } %>
    <%= link_to 'Edytuj', edit_filmy_path(@filmy) %> 
    <%= link_to 'Powrót', filmies_path %>
  </div>
</div>